section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../../public/assets/img/Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  height: 800px;
  > :nth-child(1) {
    margin: 150px 100px 100px 100px;

    align-self: flex-start;
  }
}

.card_contact {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: black;
  > input {
    background-color: black;
  }
  > textarea {
    background-color: black;
  }
  > button {
    align-self: center;
    border: solid 4px;
    width: 230px;
    height: 68px;
    font-weight: 400;
    font-size: 23px;
    color: rgba(187, 187, 187, 1);
    background-color: black;
    margin-top: 20px;
    cursor: pointer;
  }
}
