@import './../../../styles.scss';

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./../../../../public/assets/img/Rectangle5.png);
  background-repeat: no-repeat;
  background-size: cover;

  > :nth-child(1) {
    margin: 150px 100px 60px 100px;
    align-self: flex-start;
    color: rgb(255, 252, 243);
    background-color: black;
    &:hover {
      color: rgba(0, 188, 143, 1);
    }
  }

  > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    > h3 {
      background-color: black;
      color: rgba(0, 188, 143, 1);
      font-family: 'Overpass';
      font-weight: 700;
      font-size: 32px;
      padding-bottom: 20px;
    }
    > p {
      font-weight: 400;
      font-size: 22px;
      background-color: black;
      color: rgb(255, 252, 243);
      margin-bottom: 15px;
    }
  }
}

.card_contact {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: black;
  > input:focus,
  textarea:focus {
    outline: none;
    box-shadow: none;
  }
  > p {
    background-color: black;
    color: rgb(255, 252, 243);
    font-size: 14px;
    > input {
      margin-right: 10px;
      accent-color: rgba(0, 188, 143, 1);
    }
    > span {
      background-color: black;
      color: rgba(0, 188, 143, 1);
      margin: 0px 4px;
    }
  }
}

.input-group {
    position: relative;
    width: 100%;
    margin: 15px 0;

    > input, textarea {
      width: 100%;
      background-color: black;
      color: rgb(255, 252, 243);
      border: none;
      border-bottom: 3px solid rgb(255, 252, 243);
      padding: 12px 0px 8px;
      font-size: 16px;
      font-family: 'Overpass';
      resize: none;

      &:focus {
        outline: none;
        border-bottom: 3px solid rgba(0, 188, 143, 1);
      }

      &:focus + label,
      &:not(:placeholder-shown) + label {
        top: -12px;
        left: 10px;
        font-size: 14px;
        color: rgba(0, 188, 143, 1);
      }

      &:hover, &:focus{
        border: 2px solid white;
      }
    }

    > label {
      position: absolute;
      left: 0;
      top: 12px;
      color: rgb(255, 252, 243);
      font-size: 16px;
      font-family: 'Overpass';
      pointer-events: none;
      transition: 0.25s ease;
      background-color: black;
    }
  }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 20px;
  position: relative;
  width: 100%;
  > button {
    @include text-style($size: 23px);
    border: solid 4px;
    width: 230px;
    height: 68px;
    color: rgba(187, 187, 187, 0.5);
    background-color: black;
    cursor: pointer;
  }
}

.arrow {
  background-color: black;
  position: absolute;
  right: 120px;
  bottom: -20px;
  transform: translateY(-50%);
  background-color: black;
}
