@import './../../../styles.scss';

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./../../../../public/assets/img/Rectangle5.png);
  background-repeat: no-repeat;
  background-size: cover;

  > :nth-child(1) {
    margin: 150px 100px 60px 100px;
    align-self: flex-start;
    color: rgb(255, 252, 243);
    background-color: black;
    &:hover {
      color: rgba(0, 188, 143, 1);
    }
  }

  > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    > h3 {
      background-color: black;
      color: rgba(0, 188, 143, 1);
      font-family: 'Overpass';
      font-weight: 700;
      font-size: 32px;
      padding-bottom: 20px;
    }
    > p {
      font-weight: 400;
      font-size: 22px;
      background-color: black;
      color: rgb(255, 252, 243);
      margin-bottom: 15px;
    }
  }
}

.card_contact {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: black;
  > form {
    background-color: black;
  }
  > input:focus,
  textarea:focus {
    outline: none;
    box-shadow: none;
  }
}

.input-group {
  position: relative;
  width: 100%;
  margin: 25px 0;

  > input,
  textarea {
    width: 100%;
    background-color: black;
    color: rgb(255, 252, 243);
    border: none;
    border-bottom: 2px solid rgb(255, 252, 243);
    padding: 12px 0px 8px;
    @include text-style($size: 16px);
    resize: none;

    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: -12px;
      left: 10px;
      font-size: 14px;
      color: rgba(0, 188, 143, 1);
    }

    &:hover,
    &:focus {
      border: 2px solid white;
    }
  }

  > label {
    position: absolute;
    left: 0px;
    top: 12px;
    color: rgb(255, 252, 243);
    @include text-style($size: 16px);
    pointer-events: none;
    transition: 0.5s ease;
    background-color: black;
  }
  > textarea ~ .error-icon {
    top: 35px;
  }
  > textarea ~ .success-icon {
    top: 20px;
  }
}

.error-message {
  display: block;
  color: #ff4444;
  padding-top: 10px;
  background-color: black;
  @include text-style($size: 12px);
}

.error-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  right: 10px;
  top: 50%;
  transform: translateY(-100%);
  width: 24px;
  height: 24px;
  background-color: #ff4444;
  color: white;
  font-size: 25px;
}

.success-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-color: #00bc8f;
  color: white;
}

.checkbox {
  background-color: black;
  color: rgb(255, 252, 243);
  font-size: 14px;
  > input {
    margin-right: 10px;
    accent-color: rgba(0, 188, 143, 1);
  }
  > span {
    background-color: black;
    color: rgba(0, 188, 143, 1);
    margin: 0px 4px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 20px;
  position: relative;
  width: 100%;
  > input {
    @include text-style($size: 23px);
    border: solid 4px;
    width: 230px;
    height: 68px;
    color: rgba(187, 187, 187, 0.5);
    background-color: black;
    cursor: pointer;
  }
}

.arrow {
  background-color: black;
  position: absolute;
  right: 160px;
  bottom: -20px;
  transform: translateY(-50%);
  background-color: black;
  &:hover {
    animation: stretchArrow 0.9s ease-in-out forwards;
  }
}

@keyframes stretchArrow {
  0% {
    transform: scaleY(1) translateY(-50%);
  }
  100% {
    transform: scaleY(1.5) translateY(-50%);
  }
}
