section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../../public/assets/img/Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  > :nth-child(1) {
    margin: 150px 100px 100px 100px;
    align-self: flex-start;
    color: rgb(255, 252, 243);
    background-color: black;
    &:hover {
      color: rgba(0, 188, 143, 1);
    }
  }

  > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    > h3 {
      background-color: black;
      color: rgba(0, 188, 143, 1);
      font-family: 'Overpass';
      font-weight: 700;
      font-size: 32px;
      padding-bottom: 20px;
    }
    > p {
      font-weight: 400;
      font-size: 22px;
      background-color: black;
      color: rgb(255, 252, 243);
    }
  }
}

.card_contact {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: black;
  > input {
    background-color: black;
    color: rgb(255, 252, 243);
    border-style: none;
    border-bottom: 3px solid rgb(255, 252, 243);
    margin-top: 30px;
  }
  > textarea {
    background-color: black;
    color: rgb(255, 252, 243);
    border-style: none;
    border-bottom: 3px solid rgb(255, 252, 243);
  }
  > button {
    align-self: center;
    border: solid 4px;
    width: 230px;
    height: 68px;
    font-weight: 400;
    font-size: 23px;
    color: rgba(187, 187, 187, 0.5);
    background-color: black;
    margin-top: 20px;
    cursor: pointer;
  }
}
