section {
  margin: 0px 100px;
  display: flex;
  justify-content: end;
  align-items: start;
  height: 300px;
  overflow-y: hidden;
}

section:hover {
  > .arrow {
    height: 100%;
    > img {
      animation: move-diagonal 0.5s linear forwards;
    }
  }
}

@keyframes move-diagonal {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-60px, 60px);
  }
}
