@use '../../../styles/mixin.scss' as *;

section {
  max-width: 1440px;
  margin: 0px auto 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 250px;
}

section:hover {
  > .arrow {
    height: 100%;
    > img {
      animation: move-diagonal 0.5s linear forwards;
    }
  }
}

@keyframes move-diagonal {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-60px, 60px);
  }
}

@include respond-max($break-md) {
  section {
    display: flex;
    justify-content: center;
    height: 250px;
    > .arrow {
      > img {
        height: 200px;
        width: auto;
      }
    }
  }
}

@include respond-max($break-sm) {
  section {
    display: flex;
    justify-content: center;
    height: 200px;
    > .arrow {
      > img {
        height: 150px;
        width: auto;
      }
    }
  }
}
