@use '../../../styles/mixin.scss' as *;

section {
  position: sticky;
  z-index: 11;
  top: 0;
  background-color: rgb(255, 252, 243);
  @include spacing(height, 80px, 90px, 100px);
  @include spacing(padding, 20px 0, 20px 0, 20px 0);
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  @include spacing(padding, 0 20px, 0 50px, 0 100px);

  > a {
    cursor: default;
    > img {
      @include spacing(width, 50px, 55px, 60px);
      @include spacing(height, 50px, 55px, 60px);
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  @include spacing(gap, 30px, 60px, 100px);
}

.language_tuggle {
  display: none; // Auf Mobile versteckt
  @include spacing(gap, 15px, 18px, 20px);

  @include respond($break-md) {
    display: flex; // Ab Tablet sichtbar
  }

  > button {
    @include text-style-responsive(14px, 15px, 16px, 'Syne', 700);
    cursor: pointer;
    border: none;
    background: none;
    position: relative;
    transition: background-size 0.25s ease;
  }

  > button.active {
    border: 3px solid rgba(0, 188, 143, 1);
  }

  > button:not(.active) {
    background-image: linear-gradient(currentColor);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0% 2px;
  }

  > button:not(.active):hover {
    background-size: 70% 2px;
  }
}

.hamburger {
  @include spacing(width, 50px, 55px, 60px);
  @include spacing(height, 50px, 55px, 60px);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../../public/assets/icons/burger1.svg);
  cursor: pointer;
}

.open-animation {
  animation: openAnimation 0.5s linear forwards;
}

.close-animation {
  animation: closeAnimation 0.5s linear forwards;
}

@keyframes openAnimation {
  0% {
    background-image: url(../../../../public/assets/icons/burger1.svg);
  }
  25% {
    background-image: url(../../../../public/assets/icons/burger2.svg);
  }
  50% {
    background-image: url(../../../../public/assets/icons/burger3.svg);
  }
  75% {
    background-image: url(../../../../public/assets/icons/burger4.svg);
  }
  100% {
    background-image: url(../../../../public/assets/icons/burger5.svg);
  }
}

@keyframes closeAnimation {
  0% {
    background-image: url(../../../../public/assets/icons/burger5.svg);
  }
  25% {
    background-image: url(../../../../public/assets/icons/burger4.svg);
  }
  50% {
    background-image: url(../../../../public/assets/icons/burger3.svg);
  }
  75% {
    background-image: url(../../../../public/assets/icons/burger2.svg);
  }
  100% {
    background-image: url(../../../../public/assets/icons/burger1.svg);
  }
}
