section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  height: 100px;
  position: sticky;
  z-index: 11;
  top: 0;

  > .logo {
    width: 40px;
    height: 40px;
  }

  > .burger-menu {
    width: 40px;
    height: 32px;
  }
}

.wrapper {
    display: flex;
    gap: 100px;
}
