@use '../../../styles/mixin.scss' as *;

section {
  display: flex;
  margin: 0px auto 50px;
  @include dFlex-responsiveXL(column, row, space-between, center);
  @include spacing(gap, 50px, 80px, 100px);
  @include respond-max(1240px) {
    flex-direction: column;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond-max(1240px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > .icons {
      align-self: flex-start;
    }
  }

  > h2 {
    text-align: center;
    white-space: nowrap;
    @include respond($break-lg) {
      text-align: left;
    }
  }

  > p {
    @include text-style-responsive(16px, 18px, 22px, 'Overpass');
    @include spacing(margin, 30px 0px, 40px 0px, 50px 0px);
    line-height: 1.6;
  }

  > button {
    @include text-style-responsive(18px, 20px, 23px, 'Overpass');
    @include spacing(width, 180px, 200px, 213px);
    @include spacing(height, 50px, 60px, 68px);
    @include spacing(margin-top, 20px, 25px, 20px);
    border: solid 4px;
    cursor: pointer;
    background: transparent;

    &:hover {
      transform: scalex(1.1);
      transition: 0.2s ease-out;
      font-weight: 700;
    }
    > a {
      text-decoration: none;
      color: black;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.icons {
  display: flex;
  flex-direction: column;
  @include spacing(gap, 10px, 12px, 15px);
  margin-bottom: 30px;

  > p {
    @include text-style-responsive(16px, 18px, 22px, 'Overpass');
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
  }
  img {
    @include spacing(width, 30px, 35px, 40px);
    @include spacing(height, 30px, 35px, 40px);
  }
}

.profil {
  width: 100%;
  max-width: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  @include respond-max(425px) {
    min-width: 250px;
    max-height: 350px;
  }

  > img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    object-position: 90% 10%;
    transition: filter 0.5s ease;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 4px solid black;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 2;
    @include spacing(top, 15px, 15px, 15px);
    @include spacing(left, 15px, 15px, 15px);
  }

  &:hover::before {
    opacity: 1;
  }
}
