@import './../../../styles.scss';

section {
  @include section-size();
  display: flex;
  justify-content: space-between;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 650px;
  > p {
    @include text-style($size: 22px);
    margin: 50px 0px;
  }
  > button {
    @include text-style($size: 23px);
    width: 213px;
    height: 68px;
    border: solid 4px;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
    &:hover{
      transform: scalex(1.2);
      transition: 0.2s ease-out;
      font-weight: 700;
    }
    > a {
      text-decoration: none;
      color: black;
    }
  }
}

.icons {
  display: flex;
  flex-direction: column;

  > p {
    @include text-style($size: 22px);
    display: flex;
    align-items: center;
    margin: 15px 0px;
    gap: 15px;
  }
  > img {
    width: 40px;
    height: 40px;
  }
}

.profil {
  height: 500px;
  width: 500px;
  align-self: flex-end;
  margin: 20px;
  position: relative;
  > img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: 90% 10%;
    transition: filter 0.5s ease;
  }

  &::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: -20px;
    border: 4px solid black;
    opacity: 0;
    transition: 0.1s ease;
    z-index: 1;
    width: 500px;
    height: 500px;
  }

  &:hover::before {
    opacity: 1;
  }
}
