@import './../../../styles.scss';

section {
  margin: 100px 100px;
  display: flex;
  justify-content: center;
  position: relative;
  border: 6px solid black;
  > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    > h2 {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 10px;
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  height: 128px;
  gap: 150px;
  margin: 25px 0px;
  > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    &:hover {
      color: rgba(0, 188, 143, 1);
    }
    @include text-style($weight: 700);
    > img {
      width: 70px;
      height: 75px;
      &:hover {
        animation: spinScale 1s ease-out forwards;
      }
    }
  }
}

.last-icon {
  display: flex;
  align-items: end;
  gap: 25px;
  margin: 25px 0px;
  > img {
    width: 70px;
    height: 75px;
    &:hover {
      animation: spinScale 1s ease-out forwards;
    }
  }
  > p {
    font-size: 22px;
    font-weight: 400;
    > a {
      > button {
        font-family: 'Overpass';
        font-weight: 400;
        font-size: 22px;
        border: none;
        cursor: pointer;
        transition: background-size 0.25s ease;
        background-size: 0% 2px;
        &:hover {
          color: rgba(0, 188, 143, 1);
          font-weight: bold;
          background-image: linear-gradient(currentColor);
          background-position: center bottom;
          background-repeat: no-repeat;
          background-size: 90% 2px;
        }
      }
    }
  }
}

@keyframes spinScale {
  0% {
    transform: rotate(0deg) scale(-1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
