@use '../../../styles/mixin.scss' as *;

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 50px;
  max-width: 1440px;
  width: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  > h2 {
    @include respond-max(1024px) {
      animation: colorChange 4s infinite;
    }
  }
  > p {
    text-align: center;
    margin: 50px;
    font-weight: 400;
    font-size: 22px;
    @include respond-max($break-md) {
      margin: 20px 10px;
    }
  }
}

.references-card {
  display: grid;
  grid-template-columns:
    repeat(auto-fill, minmax(275px, 1fr));
  gap: 50px;
}

.card__body {
  width: 100%;
  min-height: 400px;
  border: 6px solid black;
  padding: 10px;
  @include respond-max(1024px) {
    animation: borderColorChange 4s infinite;
  }
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    > svg {
      margin-bottom: 20px;
      @include respond-max(1024px) {
        animation: svgColorChange 4s infinite;
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      > :nth-child(1) {
        font-family: 'Syne';
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 8px;
      }
      > :nth-child(2) {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}

.card__body:hover {
  border: 6px solid rgba(0, 188, 143, 1);
  > :nth-child(1) {
    > svg {
      color: rgba(0, 188, 143, 1);
    }
  }
}

.card__text {
  font-weight: 400;
  font-size: 18px;
  margin-top: 25px;
}

@keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: rgb(0, 188, 143);
  }
  100% {
    color: black;
  }
}

@keyframes borderColorChange {
  0%, 100% {
    border-color: black;
  }
  50% {
    border-color: rgb(0, 188, 143);
  }
}

@keyframes svgColorChange {
  0%, 100% {
    color: black;
  }
  50% {
    color: rgb(0, 188, 143);
  }
}
