@use './styles/mixin.scss' as *;

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // outline: 1px solid red;
}

body {
  background-color: rgb(255, 252, 243);
}

[id] {
  scroll-margin-top: 120px;
}

h1 {
  font-family: 'Syne';
  font-weight: 800;
  font-size: clamp(48px, 8vw + 20px, 128px);
}

h2 {
  font-family: 'Syne';
  font-weight: 800;
  font-size: clamp(28px, 7vw, 78px);
  &:hover {
    color: rgba(0, 188, 143, 1);
  }
}

h4 {
  font-size: clamp(18px, 1.5vw + 14px, 24px);
  font-family: 'Overpass';
  font-weight: 800;
  font-weight: bold;
  color: rgba(0, 188, 143, 1);
}

h5 {
  font-size: clamp(16px, 1vw + 14px, 19px);
  font-family: 'Overpass';
  font-weight: 700;
  color: rgba(0, 188, 143, 1);
}

p {
  font-family: 'Overpass';
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #434346;
  -webkit-text-fill-color: #f1f1f1;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
}

// ========================================
// 6. FONTS
// ========================================
/* syne-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/syne-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/syne-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  src: url('../public/assets/fonts/syne-v24-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// ========================================
// 7. FONTS
// ========================================
/* overpass-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url('../public/assets/fonts/overpass-v19-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/overpass-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/overpass-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// ========================================
// 8. KEYFRAMES
// ========================================
@keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: rgb(0, 188, 143);
  }
  100% {
    color: black;
  }
}

@keyframes showBorder {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorChangeWhite {
  0% {
    color: white;
  }
  50% {
    color: rgb(0, 188, 143);
  }
  100% {
    color: white;
  }
}

@keyframes borderColorChange {
  0%, 100% {
    border-color: black;
  }
  50% {
    border-color: rgb(0, 188, 143);
  }
}

@keyframes svgColorChange {
  0%, 100% {
    color: black;
  }
  50% {
    color: rgb(0, 188, 143);
  }
}

// Language-specific width for privacy link
html[lang='de'] app-contact .checkbox a span {
  width: 152px !important;
}
