* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(255, 252, 243);
}

h1 {
  font-family: 'Syne';
  font-weight: 800;
  font-size: 128px;
}

h2 {
  font-family: 'Syne';
  font-weight: 800;
  font-size: 78px;
  &:hover {
    color: rgba(0, 188, 143, 1);
  }
}

p {
  font-family: 'Overpass';
}

@mixin dFlex($direction: column, $justify: center, $align: '') {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin bgcolor($color: rgb(0, 0, 0, 1)) {
  background-color: $color;
}

@mixin text-style($family: 'Overpass', $size: 16px, $weiht: 400) {
  font-family: $family;
  font-size: $size;
  font-weight: $weiht;
}

@mixin section-size($heigt: 650px, $mxwidth: 1440px, $margin: 100px 100px) {
  height: $heigt;
  max-width: $mxwidth;
  margin: $margin;
}

@mixin borderStyling($border: 6px solid black) {
  border: $border;
}

/* syne-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/syne-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/syne-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* syne-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  src: url('../public/assets/fonts/syne-v24-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url('../public/assets/fonts/overpass-v19-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/overpass-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/overpass-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* @media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }
} */
