@use '../../../styles/mixin.scss' as *;

section {
  background-color: black;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: clamp(20px, 7.2vw, 100px);
  @include respond-max($break-md) {
    flex-direction: column;
    padding-bottom: 70px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  gap: 15px;
  @include respond-max($break-md) {
    order: 2;
    align-items: center;
    padding-top: 25px;
  }
  > a {
    background-color: black;
    cursor: pointer;
    width: 50px;
    height: 50px;
    > img {
      width: 50px;
      height: 50px;
    }
  }
  > P {
    background-color: black;
    color: rgb(255, 252, 243);
    font-size: 22px;
    @include respond-max($break-md) {
      font-size: 19px;
    }
  }
}

.social {
  display: flex;
  flex-direction: column;
  background-color: black;
  gap: 25px;
  @include respond-max($break-md) {
    position: relative;
  }
  > div {
    display: flex;
    gap: 60px;
    background-color: black;
    > a {
      display: inline-block;
      background-color: black;
      &:hover {
        animation: bounce 1s ease-out forwards;
      }
    }
    img {
      background-color: black;
      width: 40px;
      height: 40px;
    }
  }
  > p {
    align-self: flex-end;
    @include respond-max($break-md) {
      position: absolute;
      bottom: -150px;
      left: 50%;
      transform: translateX(-50%);
    }
    > a {
      background-color: black;
      color: rgb(255, 252, 243);
      @include text-style($size: 16px);
      border: none;
      cursor: pointer;
      transition: background-size 0.25s ease;
      background-size: 0% 2px;
      text-decoration: none;
      white-space: nowrap;
      &:hover {
        color: rgba(0, 188, 143, 1);
        font-weight: bold;
        background-image: linear-gradient(currentColor);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 90% 2px;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
