section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 60px;
    background-color: black;
    > img {
        width: 80px;
        height: 80px;
    }

    > div {
        display: flex;
        gap: 60px;
        background-color: black;
        margin: 0px 60px;
        > img {
            background-color: black;
            width: 40px;
            height: 40px;
        }
    }
}