section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 100px;
    background-color: black;
    > img {
        width: 50px;
        height: 50px;
    }

    > div {
        display: flex;
        gap: 60px;
        background-color: black;
        margin: 0px 60px;
        > img {
            background-color: black;
            width: 40px;
            height: 40px;
            &:hover {
                animation: bounce 1s ease-out forwards;
            }
        }
    }
}

@keyframes bounce {
  0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}