@import './../../../styles.scss';

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px 100px;
}

.card_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  > h2 {
    margin-bottom: 20px;
  }
  > p {
    @include text-style($size: 22px);
    width: 525px;
    text-align: center;
  }
}

/* single Projects */

.card_portfolio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 150px;
  &.right {
    flex-direction: row-reverse;
  }
  > img {
    width: 700px;
    height: 400px;
  }
}

.card_wrapper {
  width: 100%;
}

.card_number {
  display: flex;
  justify-content: flex-end;
  &.right {
    flex-direction: row-reverse;
  }
  > p {
    @include text-style($family: 'Syne', $size: 48px, $weight: 700px);
    font-weight: bold;
    padding-bottom: 40px;
  }
}

.card_info {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  gap: 25px;
  width: 500px;
  
  
  > p:nth-child(1) {
    @include text-style($family: 'Syne', $size: 45px, $weight: 800);
  }
  > p:nth-child(2) {
    @include text-style($size: 23px);
    color: rgba(0, 188, 143, 1);
  }
  > p:nth-child(3) {
    @include text-style();
  }
  > button {
    @include text-style($size: 23px);
    @include borderStyling();
    width: 189px;
    height: 68px;
  }
}
