@use '../../../styles/mixin.scss' as *;

section {
  display: flex;
  max-width: 1440px;
  margin: 0px auto 200px;
  flex-direction: column;
  align-items: flex-start;
}

.card_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  > h2 {
    margin-bottom: 20px;
  }
  > p {
    @include text-style($size: 22px);
    text-align: center;
  }
}

/* single Projects */

.card_portfolio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: clamp(50px, 15vw, 200px);
  position: relative;

  &.right {
    flex-direction: row-reverse;

    .card_image > img:last-of-type {
      right: auto;
      left: -35px;
    }

    .card_image::before {
      inset: clamp(10px, 0.9vw, 25px) /* top */ clamp(10px, 0.9vw, 25px) /* right */
        calc(clamp(10px, 0.9vw, 25px) * -1) /* bottom */ calc(clamp(10px, 0.9vw, 25px) * -1); /* left */
    }

    &:hover {
      .card_image > img:last-of-type {
        transform: scale(2.5) rotate(125deg);
      }
    }
  }

  > .card_image {
    position: relative;
    width: 100%;
    max-width: 850px;
    flex: 0 0 50%;

    > img:first-of-type {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: filter 0.3s ease-in-out;
      z-index: 1;
    }

    > img:last-of-type {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 45%;
      right: -35px;
      background: none;
      transition: transform 0.4s ease, opacity 0.4s ease;
      opacity: 0;
      z-index: 3;
    }

    &::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      border: 4px solid black;
      inset: clamp(10px, 0.9vw, 25px) /* top */ calc(clamp(10px, 0.9vw, 25px) * -1) /* right */
        calc(clamp(10px, 0.9vw, 25px) * -1) /* bottom */ clamp(10px, 0.9vw, 25px); /* left */
      opacity: 0;
      transition: 0.3s ease;
      z-index: 2;
    }
  }

  &:hover {
    .card_image {
      &::before {
        opacity: 1;
      }

      > img:first-of-type {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }

      > img:last-of-type {
        opacity: 1;
        transform: scale(2.5) rotate(-125deg);
      }
    }

    .card_info {
      opacity: 1;
    }
  }
}

.card_portfolio.is-featured {
  .card_image > img:first-of-type {
    object-position: left center;
  }
}

.card_portfolio:hover .card_info {
  opacity: 1;
  transform: translateX(0px);
}

.card_portfolio.right::before {
  left: auto;
  right: 20px;
}

.card_wrapper {
  flex: 0 0 40%;
  max-width: 40%;
}

.card_number {
  display: flex;
  justify-content: flex-end;
  &.right {
    flex-direction: row-reverse;
  }
  > p {
    @include text-style($family: 'Syne', $size: 48px, $weight: 700px);
    font-weight: bold;
    padding-bottom: 40px;
  }
}

.card_info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  &.right {
    align-items: start;
    transform: translateX(200px);
  }
  > p:nth-child(1) {
    @include text-style($family: 'Syne', $size: 45px, $weight: 800);
  }
  > p:nth-child(2) {
    @include text-style($size: 23px);
    color: rgba(0, 188, 143, 1);
  }
  > p:nth-child(3) {
    @include text-style();
  }
  > button {
    @include text-style($size: 23px);
    @include borderStyling();
    width: 189px;
    height: 68px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgba(0, 188, 143, 1);
      color: white;
    }
  }
}

@media (max-width: 1450px) {
  .card_portfolio {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: clamp(40px, 10vw, 80px);
    position: relative;

    &.right {
      flex-direction: column;
    }

    > .card_image {
      width: 100%;
      max-width: 850px;
      aspect-ratio: 16/9;
    }
    &:hover {
      .card_image > img:last-of-type {
        transform:  scale(2.5)rotate(45deg);
      }
    }

    &.right {
      &:hover {
        .card_image > img:last-of-type {
          transform: scale(2.5)rotate(315deg);
        }
      }
    }

  }

  .card_wrapper {
    width: 90%;
    max-width: 650px;
    margin-top: 30px;
  }

  .card_number {
    position: absolute;
    top: 0;
    right: 5%;

    &.right {
      flex-direction: row;
      right: auto;
      left: 5%;
    }

    > p {
      padding-bottom: 0;
      font-size: clamp(24px, 3.3vw + 12px, 48px);
    }
  }

  .card_info {
    width: 100%;
    gap: 20px;
    transform: translateY(-200px);

    &.right {
      align-items: flex-start;
      transform: translateY(-200px);
    }

    > p:nth-child(1) {
      font-size: clamp(28px, 4vw + 10px, 45px);
    }

    > p:nth-child(2) {
      font-size: clamp(18px, 1.5vw + 12px, 23px);
    }

    > button {
      font-size: clamp(18px, 1.5vw + 12px, 23px);
    }
  }
}

@include respond-max(1124px) {
  .card_portfolio {
     &:hover {
      .card_image > img:last-of-type {
        transform:  scale(2)rotate(0deg);
      }
    }

    &.right {
      &:hover {
        .card_image > img:last-of-type {
          transform: scale(2)rotate(0deg);
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .card_portfolio {
    &:hover {
      .card_image > img:last-of-type {
        transform: scale(1.5) rotate(0deg);
      }
    }

    &.right {
      &:hover {
        .card_image > img:last-of-type {
          transform: scale(1.5) rotate(0deg);
        }
      }
    }
  }
}

@media (max-width: 684px) {
  section {
    margin-bottom: 150px;
  }

  .card_portfolio {
    &:hover {
      .card_image > img:last-of-type {
        transform: scale(1) rotate(0deg);
      }
    }

    &.right {
      &:hover {
        .card_image > img:last-of-type {
          transform: scale(1) rotate(0deg);
        }
      }
    }
  }
}

@media (max-width: 480px) {
  section {
    margin-bottom: 100px;
  }
  .card_portfolio {
    &:hover {
      .card_image > img:last-of-type {
        transform: scale(0.7) rotate(0deg);
      }
    }

    &.right {
      &:hover {
        .card_image > img:last-of-type {
          transform: scale(0.7) rotate(0deg);
        }
      }
    }
  }
}

@media (max-width: 375px) {
  section {
    margin-bottom: 50px;
  }

  .card_portfolio {
    &:hover {
      .card_image > img:last-of-type {
        transform: scale(0.5) rotate(0deg);
      }
    }

    &.right {
      &:hover {
        .card_image > img:last-of-type {
          transform: scale(0.5) rotate(0deg);
        }
      }
    }
  }
}
